<html>
  <head>
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><%= categoryName %> </h1>
    <a href="/"><button>Home</button></a>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price (USD)</th>
          <th>Category ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.stock_quantity %></td>
            <td>$<%= product.price %></td>
            <td><%= product.category_id %></td>
            <td>
              <div>
                <button>Edit</button>
                <a href="/products/delete/<%= product.category_id %>/<%= product.id %>">
                  <button>Delete</button>
                </a>
              </div>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>