<html>
  <head>
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><%= categoryName %> </h1>
    <a href="/"><button>Home</button></a>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price (USD)</th>
          <th>Category ID</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(products => { %>
          <tr>
            <td><%= products.name %></td>
            <td><%= products.stock_quantity %></td>
            <td>$<%= products.price %></td>
            <td><%= products.category_id %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>